<%= form_for(@sale_manager) do |f| %>
  <% if @sale_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_manager.errors.count, "error") %> prohibited this sale_manager from being saved:</h2>

      <ul>
      <% @sale_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, 'First Name' %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, 'Last Name' %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
