<p id="notice"><%= notice %></p>

<h1> Sale Managers</h1>
<h3><%= link_to 'Add New Sale Manager', new_sale_manager_path %></h3>
<hr>
<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @sale_managers.each do |sale_manager| %>
      <tr>
        <td><%= link_to 'Log In', sale_manager %></td>
        <td><%= sale_manager.fname %></td>
        <td><%= sale_manager.lname %></td>
        <td><%= number_to_phone(sale_manager.phone,area_code: true) %></td>
        <td><%= link_to 'Edit', edit_sale_manager_path(sale_manager) %></td>
        <td><%= link_to 'Destroy', sale_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>