<p id="notice"><%= notice %></p>

<p>
  <h1><%= @sale_manager.full_SM_name %> </h1>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@sale_manager.phone,area_code: true) %>
</p>
<hr>
<% if @sale_manager.salespersons.count > 0 %>
<table>
  <thead>
  <tr>
    <th>Sale Person</th>
    <th>Sales</th>
  </tr>
  </thead>
  <tbody>
  <%for salesperson in @sale_manager.salespersons%>
      <tr>
        <td><%= salesperson.fname%>
        <%=salesperson.lname %></td>
        <td><%= link_to 'Sales Items', salesperson_path(salesperson)%></td>
      </tr>
  <%end%>
  </tbody>
</table>
    <% else %>
    <h3>No Sales Staff</h3>
    <% end %>
</br>
<%= link_to 'Edit', edit_sale_manager_path(@sale_manager) %> |
<%= link_to 'Back', sale_managers_path %>
