<table width="30%">
  <th>Month</th>
  <th>Payment</th>
  <th>Interest</th>
  <th>Principal</th>
  <th>Ending Balance</th>
  <% @amortization_array.each_slice(5) do |num|  %>
      <tr>
        <% num.each do |n| %>
            <td> <%= n %></td>
        <% end %>
      </tr>
  <% end %>

</table>

