<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote %><br>
    <%= f.collection_select :quote_id, Quote.where(:toa => true), :id, :full_quote, { :prompt => '--Select a Quote--' } %>
  </div>
    <div id="quote_list">
      <table>
        <thead>
        <th>Customer Quote</th>
        </thead>
        <tbody>
        <td>Quote Number: <span id="quote"></span></td>
        </tbody>
      </table>
    </div>
  <div class="field">
    <%= f.label :payment_type, 'Payment Type' %><br>
    <%= f.select :payment_type, ['Cash', 'Payment Plan'], { :prompt => '--Select a Payment Type--' }%>
  </div>
    <div class ="field">
      <%= f.label :principal%></br>
      <%= f.text_field :principal %>
    </div>
  <div id="Payment_plan">
    <%= f.label :interest, 'Interest Rate(%) :' %>
    <%= f.text_field :interest rescue 'N/A'%><br>
    <%= f.label :period, 'Yearly :' %>
    <%= f.select :period, options_for_select(num_period),{}, class: 'form-control', include_blank: true%><br>
  </div>
  <div class="actions">
    <br>
    <%= f.submit %>
  </div>
    <hr>
<% end %>

<!-- Table will be inserted here -->
<div id="amortization-table" class="table-format"></div>
