<p id="notice"><%= notice %></p>

<h1> Finances</h1>
<h3><%= link_to 'Add New Finance', new_finance_path %></h3>
<hr>
<table>
  <thead>
    <tr>
      <th>Quote Number</th>
      <th>Customer Name</th>
      <th>Car Model</th>
      <th>Payment type</th>
      <th>Initiate Price</th>
      <th>Finalize Price</th>
      <th>Finalize Data Complete</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= finance.quote_id %></td>
        <td><%= finance.quote.customer.full_Cust_name %></td>
        <td><%= finance.quote.car.full_model %></td>
        <td><%= finance.payment_type %></td>
        <td><%= number_to_currency(finance.principal) %></td>
        <td><%= number_to_currency(finance.finalize_price) %></td>
        <td><%= finance.created_at.to_formatted_s(:long_ordinal) %></td>
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

