<p id="notice"><%= notice %></p>

<h1><%= "#{@finance.quote.customer.full_Cust_name}'s Finalize Price" %></h1>
<p>
  <strong>Date:</strong>
  <%= @finance.created_at.to_formatted_s(:long_ordinal) %><br>
  <strong>Payment type:</strong>
  <%= @finance.payment_type %><br>
  <strong>Principal:</strong>
  <%= number_to_currency(@finance.principal) %><br>
  <% if @finance.payment_type == "Payment Plan" %>
  <strong>Interest:</strong>
  <%= number_to_percentage(@finance.interest, precision: 0) %><br>
  <strong>Years:</strong>
  <%= @finance.period %><br>
<% end  %>
</p>
<hr>
<% if @finance.payment_type == "Payment Plan"  %>
    <%= render 'amortization_table' %>
<%end %>
<br>
<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
