<h1>Welcome to Johnny Dinh's Car Shop</h1>
<%=image_tag("Funny Picture.gif", alt: "funny picture")%>
<p>
  "I rent a lot of cars, but I don't always know everything about them. So a lot of times, I drive for like ten miles with the emergency brake on. That doesn't say a lot for me, but it really doesn't say a lot for the emergency brake. It's really not an emergency brake; it's an emergency "make the car smell funny" lever." - Mitch Hedberg
</p>