<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :car %><br>
    <%= f.collection_select :car_id, Car.where(:sold => true), :id, :full_model %>
  </div>
  <div class="field">
    <%= f.label :salesperson %><br>
    <%= f.collection_select :salesperson_id, Salesperson.all, :id, :full_SP_name %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :full_Cust_name %>
  </div>
    <p>Price of the Car: <span id="markup"></span></p>
  <div class="field">
    <%= f.label :sale_tax %><br>
    <%= f.text_field :sale_tax, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total, :disabled => true %>
  </div>
  <div class="field">
    <%= f.label :toa, 'Sold' %>
    <%= f.check_box :toa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
