<p id="notice"><%= notice %></p>

<h1>Quotes</h1>
<h3><%= link_to 'Add New Quote', new_quote_path %></h3>
<hr>
<table>
  <thead>
    <tr>
      <th>Car</th>
      <th>Salesperson</th>
      <th>Customer</th>
      <th>Car Price</th>
      <th>Sale tax</th>
      <th>Total</th>
      <th>Quote Created</th>
      <th>Sold</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.car.full_model %></td>
        <td><%= quote.salesperson.full_SP_name %></td>
        <td><%= quote.customer.full_Cust_name %></td>
        <td><%= number_to_currency(quote.car.markup) %></td>
        <td><%= number_to_currency(quote.sale_tax) %></td>
        <td><%= number_to_currency(quote.total) %></td>
        <td><%= quote.created_at.to_formatted_s(:long_ordinal) %></td>
        <td><%= grab_boolean(quote.toa) %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
