<p id="notice"><%= notice %></p>
<h1><%= "#{@quote.customer.full_Cust_name}'s Quote" %></h1>
<hr>
<p>
  <strong>Car:</strong>
  <%= @quote.car.full_model %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @quote.salesperson.full_SP_name %>
</p>

<p>
  <strong>Car VIN:</strong>
  <%= @quote.car.vin %>
</p>


<p>
  <strong>Sale tax:</strong>
  <%= number_to_currency(@quote.sale_tax) %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@quote.total) %>
</p>

<p>
  <strong>Sold:</strong>
  <%= grab_boolean(@quote.toa) %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
