<%= form_for(@salesperson) do |f| %>
  <% if @salesperson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesperson.errors.count, "error") %> prohibited this salesperson from being saved:</h2>

      <ul>
      <% @salesperson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sale_manager %><br>
    <%= f.collection_select :sale_manager_id, SaleManager.all, :id, :full_SM_name %>
  </div>
  <div class="field">
    <%= f.label :fname, 'First Name'%><br>
    <%= f.text_field :fname, :placeholder => "e.g. Thomas" %>
  </div>
  <div class="field">
    <%= f.label :lname, 'Last Name' %><br>
    <%= f.text_field :lname, :placeholder => "e.g. Bank" %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, :placeholder => "e.g. 8323128030"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
