<p id="notice"><%= notice %></p>

<h1>Sales People</h1>
<h3><%= link_to 'Add New Salesperson', new_salesperson_path %></h3>
<hr>
<table>
  <thead>
    <tr>
      <th>Sale Manager</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @salespeople.each do |salesperson| %>
      <tr>
        <td><%= salesperson.sale_manager.full_SM_name %></td>
        <td><%= salesperson.fname %></td>
        <td><%= salesperson.lname %></td>
        <td><%= number_to_phone(salesperson.phone,area_code: true) %></td>
        <td><%= link_to 'Show', salesperson %></td>
        <td><%= link_to 'Edit', edit_salesperson_path(salesperson) %></td>
        <td><%= link_to 'Destroy', salesperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
