<p id="notice"><%= notice %></p>

<h1><%= @salesperson.full_SP_name %></h1>

<p>
  <strong>Sale Manager:</strong>
  <%= @salesperson.sale_manager.full_SM_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@salesperson.phone,area_code: true) %>
</p>
<hr>
<h1>Quotes Made</h1>
<% if @salesperson.quotes.where(:toa => true).count > 0 %>
<table>
  <thead>
  <tr>
    <th>Created Date</th>
    <th>Customer Name</th>
    <th>Vehicle</th>
    <th>Total Amount</th>
    <th>Sold</th>
  </tr>
  </thead>
  <tbody>
  <%for quote in @salesperson.quotes.where(:toa => true)%>
      <tr>
        <th><%= (quote.created_at).to_formatted_s(:long_ordinal) %></th>
        <td><%= quote.customer.full_Cust_name %></td>
        <td><%= quote.car.full_model %></td>
          <td><%=quote.total%></td>
        <td><%= grab_boolean(quote.toa) %></td>

      </tr>
  <%end%>
  </tbody>
</table>
<% else %>
    <br>
    <h2> <u>No Sale have made</u></h2>
    <% end %>


</br>
<%= link_to 'Edit', edit_salesperson_path(@salesperson) %> |
<%= link_to 'Back', salespeople_path %>
