<tr>
          <td><%= customer.fname.capitalize %></td>
          <td><%= customer.lname.capitalize %></td>
          <td><%=  number_to_phone(customer.phone,area_code: true) %></td>
          <td><%= customer.address %></td>
          <td><%= customer.state %></td>
          <td><%= customer.city %></td>
          <td><%= customer.customer_type.name rescue 'n/a' %></td>
          <td><%= link_to 'Show', customer %></td>
          <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
