<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname, 'First Name' %><br>
    <%= f.text_field :fname, :placeholder => "e.g. Thomas" %>
  </div>
  <div class="field">
    <%= f.label :lname, 'Last Name' %><br>
    <%= f.text_field :lname, :placeholder => "e.g. Bank" %>
  </div>
  <div class="field">
    <%= f.label :phone, 'Phone Number' %><br>
    <%= f.text_field :phone, :placeholder => "e.g. 8323183180" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :placeholder => "e.g. 132 broadway st." %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(us_states),{}, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
    <div class="field">
      <%= f.label :customer_type %><br>
      <%= f.collection_select :customer_type_id, CustomerType.all, :id, :name %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
