<p id="notice"><%= notice %></p>

<h1>Customers</h1>
<h3><%= link_to 'Add New Customer', new_customer_path %></h3>
<hr>
<%= form_tag customers_path, :method => 'get' do %>
    <p>
      <%=  "Search by name :" %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>
<p><%= link_to "Advance Search", new_search_path%></p>
<hr>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>State</th>
      <th>City</th>
      <th>Customer Type</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fname.capitalize %></td>
        <td><%= customer.lname.capitalize %></td>
        <td><%=  number_to_phone(customer.phone,area_code: true) %></td>
        <td><%= customer.address %></td>
        <td><%= customer.state %></td>
        <td><%= customer.city %></td>
        <td><%= customer.customer_type.name rescue 'n/a' %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
