<p id="notice"><%= notice %></p>

  <h1><%= @customer.full_Cust_name %></h1>
<hr>
<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@customer.phone,area_code: true) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state.upcase %>
</p>
<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Customer Status:</strong>
  <%= @customer.customer_type.name %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
