<h1> Search for Customer</h1>
<%= form_for @search do |f| %>
    <div class = "field">
      <%= f.label :keywords, 'Name' %>
      <%= f.text_field :keywords %>
    </div>
    <div class = "field">
      <%= f.label :customer_type_id %>
      <%= f.collection_select(:customer_type_id, CustomerType.order(:name),:id,:name, include_blank: true)%>
    </div>
    <div class = "actions"><%= f.submit "Search" %></div>
<% end %>