<h1>Search Results</h1>
<table>
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>State</th>
    <th>City</th>
    <th>Customer Type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <%= render @search.customers %>
  </tbody>
</table>
