// Place all the styles related to the Finances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quote_list
{
  float: right;
  margin-left: auto;
  margin-right: auto;

}

#showMe{
  display:none;
}