body
{
    color: #574c3f;
    font-family: Corbel, Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    background-color: #fa211f;
}

#wrapper
{
    width: 1100px;
    margin: auto;
    padding-bottom: 20px;
    background-color: white;

    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;

    overflow: hidden;
}
#banner
{
}
#navigation
{
    height: 45px;
    background: linear-gradient( to top, #ff413e, #ffffff);
}
.nav
{
    padding:0;
    margin:0;
    list-style-type:none;
    height:30px;
}
.nav li
{
    float: left;
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 0px 20px 0px 20px;
    border-left: 1px solid #ffffff;
}
.nav li a
{
    padding:9px 20px;
    display:block;
    color:#fff;
    text-decoration:none;
    font:12px arial, verdana, sans-serif;
}

.nav ul
{
    position:absolute;
    list-style-type:none;
}
.nav li:hover
{
    position:relative; background: salmon;
}
.nav li:hover ul
{
    left:0px;
    top:30px;
    background: salmon;
    padding:0px;
}
.nav li:hover ul li a
{
    padding:5px;
    display:block;
    width:168px;
    text-indent:15px;
}
.nav li:hover ul li a:hover
{
    display: block;
    background: indianred;
}

#content
{
    padding: 20px;
    min-height: 400px;
}