<p id="notice"><%= notice %></p>

<h1>Cars Inventory</h1>

<h3><%= link_to 'Add New Vehicle', new_car_path %> </h3>
<hr/>
<%= form_tag cars_path, :method => 'get' do %>
    <p>
      <label>Search by model, color, or vin :</label>
      <%= text_field_tag :search, params[:search], :placeholder => "e.g. Honda"  %>
      <%= submit_tag "Search", :name => nil %>
    </p>
<% end %>

<hr/>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Make</th>
      <th>Color</th>
      <th>Year</th>
      <th>Vin Number</th>
      <th>MSRP</th>
      <th>Markup</th>
      <th>In-Stock</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.model.capitalize %></td>
        <td><%= car.make.capitalize %></td>
        <td><%= car.color.capitalize %></td>
        <td><%= car.year %></td>
        <td><%= car.vin %></td>
        <td><%= number_to_currency(car.msrp) %></td>
        <td><%= number_to_currency(car.markup) %></td>
        <td><%= grab_boolean(car.sold) %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
