<p id="notice"><%= notice %></p>
<h1>Car's Inventory</h1>
<hr>
<p>
  <strong>Model:</strong>
  <%= @car.model.capitalize %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make.capitalize %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color.capitalize %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.vin %>
</p>

<p>
  <strong>MSRP:</strong>
  <%= number_to_currency(@car.msrp) %>
</p>

<p>
  <strong>Markup:</strong>
  <%= number_to_currency(@car.markup) %>
</p>
<p>
  <strong>In-Stock:</strong>
  <%= grab_boolean(@car.sold) %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
