<%= form_for(@customer_type) do |f| %>
  <% if @customer_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_type.errors.count, "error") %> prohibited this customer_type from being saved:</h2>

      <ul>
      <% @customer_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "e.g Happy"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
