<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Owner Name</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.name %></td>
        <td><%= link_to 'Log In', report, data: { confirm: 'Are you Johnny Dinh?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


