<p id="notice"><%= notice %></p>
<h1><%= "#{@report.name}'s Report" %></h1>
<hr>
<p>
  Total Gross Revenue: <%= number_to_currency(@calculation_total_gross_revenue) %> <br>
  Sale Tax: <%= number_to_currency(@calculation_sale_tax) %> <br>
  Net Profit: <%= number_to_currency(@calculation_net_profit) %>
</p>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
