<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <div id="wrapper">
    <div id="banner">
      <%= link_to(image_tag("banner.jpg"),root_path)%>
    </div>
    <div id="navigation">
      <ul class="nav">
        <li><%= link_to "Home", root_path %></li>
        <li><a href='#'>Sale</a>
            <ul>
              <li><%= link_to "Sales People", salespeople_path%></li>
              <li><%= link_to "Customer", customers_path%></li>
              <li><%= link_to "Quotes", quotes_path%></li>
            </ul>
        </li>
        <li><%= link_to "Finances", finances_path%></li>
        <li><%= link_to "Sale Managers", sale_managers_path%></li>
        <li><%= link_to "Inventory", cars_path%></li>
        <li><%= link_to "Report", reports_path%></li>
      </ul>
    </div>
    <div id ="content">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
